@import url('https://fonts.googleapis.com/css?family=Bitter');
body{
    width: 100%;
}

.minha-logo{
    position: absolute;
    top: 150px;
    left: calc(50% - 150px);
}

img{
    left: auto;
    width: 700%;
    filter: contrast(0%) brightness(190%);
    transition-duration: 0.5s;
}

img:hover{
    filter: contrast(100%) brightness(100%);
}


/*Animação texto*/
.text {
    position: absolute;
    text-align: center;
    left: calc(50% - 250px);
    top: 35px;
}

p {
    font-family: 'Bitter', sans-serif;
    font-weight: 300;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    /* margin: 0; */
    color: #4e555b;
}

.email, .telefone{
    left: calc(50% - 250px);
    position: relative;
    font-size: 1.2em;
    margin: 48px;
    top: 500px;
}

.word {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
    color: #8e44ad;
}

.belize {
    color: #2980b9;
}

.pomegranate {
    color: #c0392b;
}

.green {
    color: #16a085;
}

.midnight {
    color: #2c3e50;
}


@media (max-width: 599px) { 
    .minha-logo{
        position: absolute;
        top: 100px;
    }

    img{
        position: absolute;
        width: 300px;
        filter: contrast(0%) brightness(190%);
        transition-duration: 0.5s;
        left: 30px;
    }

    .text {
        position: absolute;
        text-align: center;
        left: calc(50% - 110px);
        top: 5%;
    }

    p {
        font-family: 'Bitter', sans-serif;
        font-weight: 300;
        font-size: 20px;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        /* margin: 0; */
        color: #4e555b;
    }

    .email, .telefone{
        left: 9%;
        font-size: 1.2em;
        margin: 12px;
        top: 500px;
        display: block;
        text-align: center;
    }
}