 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre mim</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Na informática desde de meados de 2001, inicialmente afcionado pelas informações sobre vulnerabilidades digitais, tentando cada dia descobrir mais sobre elas, sendo resgatado por um projeto fantástico de inclusão digital <a href="http://iteva.org.br/?pg=midiacom">  <font color = "#53868B">MídiaCom</font></a>. Logo após, me aventurei no mundo do Design em uma gráfica, onde passei muito tempo, e agradeço o aprendizado.</p>
                </div>
                <div class="col-lg-4">
                    <p>Porém, quis desistir de está no mundo digital, foi quando passei em um Curso de Redes e onde reacendeu a chama da tecnologia. Hoje estudante de Sistemas de Informação, pretendo desbravar este mundo com o amor de juventude que tenho por ele. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   <!-- <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme -->
                    </a>
                </div>
            </div>
        </div>
    </section>